<h1>Granny Goodnesses Greatest Recipes</h1>
<% @recipes.each do |recipe| %>
  <article>
    <h3><a href="/recipes/<%=recipe.id%>"><%= recipe.title %></a></h3>
    <p class="description"><%= recipe.description %></p>
  </article>
<% end %>

<h2>Add Your Own!</h2>
<br>

<form method="POST" action="/recipes">
  <label>Created by</label>
  <br>
  <input type="text" name="created_by">
  <br>
  <label>Title</label>
  <br>
  <input type="text" name="title">
  <br>
  <label>Description</label>
  <br>
  <input type="text" name="description">
  <br>
  <label>Instructions</label>
  <br>
  <input type="text" name="instructions">
  <br>
  <button>Submit</button>
</form>

